$breakPoint: 991px;
$background: rgba(18, 18, 26,1);
$white: #fff;
$transparentWhite: rgba(255,255,255,0.7);
$textColor: #fff;
$primaryColor: #FF2173;
$red: #FF2173;
$emerald: #00916E;
$pumpkin: #FA7921;
$borderColor: #555;
$textColorAlt: #333;